*{

	box-sizing: border-box;
}

body{
	background-color: whitesmoke;
	padding: 0;
	margin: 0;
}

header{
	height: 5rem;
	background-color: steelblue;
	margin: 0 0 2rem 0;
	display: flex;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

header>h1{
	margin:auto;
	color: whitesmoke;
}

.panel{
	margin: 2rem;
	padding: 25px;
	border: black 4px solid;
	border-radius: 20px;
    background: rgb(77,77,77);
    background: radial-gradient(circle, rgba(77,77,77,1) 20%, rgba(45,45,45,1) 100%);
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.light{
	height: 100px;
	width: 100px;
	border: black 2px solid;
	border-radius: 100%;
	box-sizing: border-box;
	margin: 5px 0;
    background: rgb(77,77,77);
    background: radial-gradient(circle, rgba(77,77,77,1) 0%, rgba(0,0,0,1) 100%);
}

.green-light{
    background: rgb(210,255,185);
    background: radial-gradient(circle, rgba(210,255,185,1) 0%, rgba(80,252,70,1) 100%);
}

.yellow-light{
    background: rgb(255,251,185);
    background: radial-gradient(circle, rgba(255,251,185,1) 0%, rgba(252,229,70,1) 100%);
}

.red-light{
    background: rgb(255,185,185);
    background: radial-gradient(circle, rgba(255,185,185,1) 0%, rgba(252,70,70,1) 100%);
}

.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

a.btn{
	/*flex: 0 0 100%;*/
	margin: 1rem;
	padding: 1rem 10%;
	border: black solid 1px;
	background-color: steelblue;
	color: whitesmoke;
}

a.btn:link{
	text-decoration: none;
}

/* Jaune clignote */
.yellow-light-blink {
    background: rgb(255,251,185);
    background: radial-gradient(circle, rgba(255,251,185,1) 0%, rgba(252,229,70,1) 100%);
	animation: blink-yellow 2s infinite;
}
@keyframes blink-yellow {
	0% {

    }
	50% {
        background: rgb(77,77,77);
        background: radial-gradient(circle, rgba(77,77,77,1) 0%, rgba(0,0,0,1) 100%);
    }
}